# Python files
*.pyc
*.pyo
*.pyd
__pycache__/
*.swp

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Virtual environments
env/
venv/
ENV/
.venv/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Dataset backups (if any huge files you don't want to push)
*.csv.bak
